<footer>
  <div class="footer-left">
    <p>The Ruby on Rails Tutorial by Michael Heatl</p>
  </div>
  <div class="footer-right">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </div>
</footer>